In [ ]:
# importing all the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import os

In [ ]:
dataframe = pd.read_csv("/mllab-03-auto-mpg.csv") #loading the dataset

In [ ]:
df = dataframe.drop(["origin", "name"], axis =1) #dropping least imporatant attributes

In [ ]:
df.head()  #reading first 5 rows of the dataset

    mpg  cylinders  displacement  horsepower  weight  acceleration  year
0  18.0        8.0         307.0       130.0  3504.0          12.0  70.0
1  15.0        8.0         350.0       165.0  3693.0          11.5  70.0
2  18.0        8.0         318.0       150.0  3436.0          11.0  70.0
3  16.0        8.0         304.0       150.0  3433.0          12.0  70.0
4  17.0        8.0         302.0       140.0  3449.0          10.5  70.0

In [ ]:
df.iloc[:, 1:] = (df - df.mean())/df.std() #narmalizing the data except target variable

In [ ]:
X = df.iloc[:, 1:]   # assigning features of the dataset to X except target
ones = np.ones([len(df), 1])  # creating bias or intecept as new column 
X = np.concatenate((ones, X), axis=1) #adding features and bias column
y = df.iloc[:, 0:1].values  # assigning target variable to y

In [ ]:
#creating class interface for linear regression 
class LinearRegression():     
  def __init__(self, X, y, alpha=0.1, iterations =500):

    self.alpha = alpha
    self.iterations = iterations         
    self.n_samples = len(df)
    self.total = len(df)
    self.features = df.iloc[:, 1:].columns.tolist()      
    self.number_of_features = len(self.features)
    self.x = df.iloc[:, 1:]
    self.ones = np.ones([self.total, 1])
    self.X = np.concatenate((self.ones, self.x), axis=1)
    self.y = df.iloc[:, 0:1].values
    self.param = np.zeros([1, self.number_of_features+1])    # initiatzing first parameters as zeros
    self.h = X @ self.param.T                                # this is ths hypothesis we need to find
    self.coef = None
    self.intercept = None

  def compute_cost(self, X, y, param):                       # defining function to calculate cost
    self.h = X @ self.param.T
    self.j = np.power((self.h - self.y), 2)                  # mean squared error
    self.sum = np.sum(self.j)/(2 * len(self.X))
    return sum

  def fit(self):                                             # creating function for training the model using 
    self.cost = np.zeros(self.iterations)                    # gradient descent 
    for i in range(self.iterations):
      # partial dervivative generalized form of the gradient descent equation
      self.param = self.param - (self.alpha/self.n_samples) * np.sum(self.X * (self.h - self.y), axis=0)
      self.cost = self.compute_cost(X, y, self.param)        
    return self

  
  def predict(self, X):                                      # fuction for predcting target value
    y = X @ self.param.T
    return y
  

  def get_param(self):                                        # to get final parameters for our model
    return self.param

In [ ]:
lenrreg = LinearRegression(X,y).fit()

In [ ]:
param = lenrreg.get_param()   #these are the optimal parameters for this model
param

array([[23.44591837, -0.42633213,  0.46306897, -0.08745734, -5.53457722,
         0.1691564 ,  2.7577403 ]])

In [ ]:
lenrreg.predict(X[0])       #predicting the target value

array([15.1306311])